body {
    font-family: "Quicksand" , sans-serif;
    margin: 15px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}   

.left-side{
    display: flex;
}

.name {
    font-size: 1.2em;
    text-transform: uppercase;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.1em;
    
}

.nav-link-wrapper{
    height: 22px ;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color:cadetblue;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid cornflowerblue ;
}

.nav-link-wrapper a:hover{
    color: cornflowerblue
}

/* About page */

.two-row-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr; 
}


.profile-image-wrapper img{
    padding-top: 3%;
    width: 100%;
    padding-bottom: 1%;
   
}

.profile-content-wrapper{
    padding-top: 0%;
    width: 841px;
    margin: 0 auto;
    }

.profile-content-contact{
    padding-top: 3%;
    text-align:end center;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .container-image {
      max-width: 400px;
      margin: 0 auto;
  }